/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start css*/
*, *:before, *:after {
  box-sizing: border-box;
}

header {
	text-align: center;
}

body {
 background-color: #F7F7F7;
 border: 0px solid #fff;
 margin: 100px;
 width: 375px;
 height: 850px;
 font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
}

img {
	width: 375px;
}
hr {
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
	width: 35px;
	padding-top: 15px;
	padding-left: 10px;
}

.destbutton {
	width: 15px;
	padding-top: 0px;
}

.setbutton1 {
	width: 40px;
	padding-top: 15px; /*higher on 'my stop' line?*/
	margin-right: 15px; /*makes button smaller???*/
	float:right;
}

.setbutton2 {
	width: 40px;
	padding-top: 0px; /*higher on 'my stop' line?*/
	margin-right: 15px; /*makes button smaller???*/
	float:right;
}

.title {
	padding-left: 28px;
	color: #004080;
	font-size: 18px;
	line-height: 2.5em;
	background-color: #E5E5E5;
}

.busNumber {
	font-size: 20px;
}

.busLine {
	margin-left: 20px;
}

p {
	display: inline;
}

li {
	margin-left: 15px;
}

.origin {
	margin-right: 60px; /*trying to aling 'my stop' and 'work' not working*/
}

.arrival { /* there is something not working here*/
	text-align: right;
}

.location {
	margin:15px;
	border: 2px solid #EFEFEF;
	border-radius: 3px;
	background-color: #EFEFEF;
	color: #004080;
	line-height: 2em;
}
.routes {
	color: #004080;
	line-height: 2.5em;
}
